# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Data (do not commit data files)
data/
!data/raw/.gitkeep
!data/processed/.gitkeep

paper/paper.html
paper/paper.jpeg
paper/paper.png